/* CTA Section Styles */
.cta-section {
    background:linear-gradient(45deg, #0A1F44,  #102A67, #1679AB); /* Replace with your exact colors */
    color: white; /* Optional: Set text color to make it readable */
    padding: 20px;
    /* Additional styling as needed */
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 0px;
}

.cta-content {
    max-width: 800px;
    margin: 0 auto;
}

.cta-content h3 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 600;
}

.cta-content p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    color: #0A1F44;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
    color: #ffffff;
}
